/* ================================= 
  Base Styles
==================================== */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-footer {
    margin-top: auto;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .main-header,
    .main-nav {
        display: flex;
    }

    
}